<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @skill.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @skill.desc %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
